body {
    background-color: #FFFFFF;
    position: relative;
    width: 742px;
    height: 513px;
}

.logo img {
    position: absolute;
    width: 90px;
    height: 54.1px;
    left: 20px;
    top: 9px;
}

.notifi img{
    position: absolute;
    left: 82.08%;
    right: 16.71%;
    top: 2.92%;
    bottom: 94.93%;
}

.profile img{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 1225px;
    top: 12px;
}
